.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;


  .banner_introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 50px;

        p,
        h4,
        h5 {
          font-size: 50px;
          font-weight: 900;
        }

        h4 {
          font-size: 15px;
          line-height: 10px;
        }

        h5 {
          font-size: 30px;
          line-height: 100px;
          text-transform: capitalize;
        }

        span {
          font-size: 60px;
          font-weight: 1400;
          color: blue;
        }

        .social {
          margin: 0 100px;
          display: flex;
          width: fit-content;
          flex-direction: row;
          align-items: center;

          a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .downloads {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        gap: 20%;
        width: 100%;
      }

    }

    .right {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }

  #resume {
    background-color: rgb(56, 189, 127);
    border: 2px solid rgb(255, 255, 255);
  }

  #contacts {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(56, 189, 127);

    a {
      color: rgb(56, 189, 127);
    }
  }

  button:hover {
    opacity: 50%;
    cursor: pointer;
  }

  button {
    width: 200px;
    height: 60px;
    border: none;

    a {
      color: white;
      font-weight: 900;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    p {
      font-size: 30px;
      font-weight: 900;
    }

    .app__profiles {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 100px;
      border-top: 2px solid rgb(137, 231, 109);

      .services {
        background-color: rgb(247, 248, 247);
        border-radius: 15px;
        width: 200px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        img {
          height: 40px;
          width: auto;
        }
      }
    }
  }

  .nextpage {
    height: 45px;
    width: 45px;
    border: 1px solid var(--lightGray-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;

  }

  .nextpage:hover {

    background-color: #cbcbcb;
  }
}

@media screen and (min-width: 2500px) {}

@media screen and (max-width: 1400px) {
  .banner_introduction {
    display: flex !important;
    flex-direction: column-reverse !important;
    // width: 50% !important;
  }

  .right {
    display: none !important;
  }
}

@media screen and (max-width: 1150px) {
  .left {
    background-color: yellow;
    width: 80vw;
  }

  .right {
    display: none !important;
  }

  .banner_introduction {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 650px) {}

@media screen and (max-width: 500px) {}